* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #00abe7;
}

.header {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    font-family: consolas, sans-serif;
    font-size: 24px;
}

#score{
    margin-right: 50px;
}

#start-button {
    font-family: consolas, sans-serif;
    font-size: 24px;
    padding: 8px;
}
#start-button:hover {
    background: #333;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.grid {
    width: 260px;
    height: 520px;
    display: flex;
    flex-wrap: wrap; /*colocar os quadrados menores dentro do tabuleiro*/
    background-color: #0081AF;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.grid div{
    
    border-radius: 1px;
    height: 26px;
    width: 26px;
}

.tetromino{
    border: solid 1px #222;
}

.two-buttons{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#btn {
    margin-top: 200px;
}

.button {
    height: 50px;
    width: 50px;
}


@media (max-width: 600px) {
    .mini-grid {
        display: none;
    }
}